<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <div class="create-blog content">
                <div>
                    <h2>Edit blog</h2>
                </div>
                <form action="/blogs/updated" method="POST">
                    <div>
                        <label for="title">Blog Title</label>
                        <input type="text" id="title" name="title" value="<%= blog.title %>" required />
                    </div>
                    <div>
                        <label for="snippet">Blog Snippet</label>
                        <input type="text" id="snippet" name="snippet" value="<%= blog.snippet %>" required />
                    </div>
                    <div>
                        <label for="body">Blog Body</label>
                        <textarea class="edit-txtarea" name="body" id="body">
<%= blog.body %></textarea
          >
        </div>
        <div>
          <button type="submit">Update Blog</button>
        </div>
      </form>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>